@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-text-primary: #1B2528;
  --text-medium: 15px;
  --color-text-secondary: #3A6C7B;
  --color-background-secondary: #dce4e7;
  --color-background-tertiary: #087A2E;
  --text-large: 34px;
  --leading-large: 40px;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Public Sans', sans-serif;
}



